.login-form {
  background-color: #000000; /* Defina a cor de fundo desejada */
  padding: 20px; /* Ajuste o espaçamento conforme necessário */
  border-radius: 10px; /* Arredonde as bordas se desejar */
}